<section class="advantages">
  <div class="container">
    <h3 class="advantages-subtitle">Переваги</h3>
    <h2 class="advantages-title">Чому обрати нас?</h2>
    <p class="advantages-description">
      Наші сумки виготовлені з екологічно чистих матеріалів, що забезпечують
      стійкість і довговічність. Обираючи EcoTote, ви підтримуєте екологічну
      відповідальність.
    </p>
    <!-- <div class="advantages-wrapper"> -->
    <ul class="advantages-list">
      <li class="advantages-item">
        <img
          src="/src/img/advantages/adv-dsgn-mob-1x.webp"
          alt="Еко"
          class="advantages-img"
          width="288px"
          height="198px"
        />
        <h4 class="advantages-item-title">Стійкість та екологічність</h4>
        <p class="advantages-item-text">
          Виготовлені з органічної бавовни та переробленого пластику.
        </p>
      </li>
      <li class="advantages-item">
        <img
          src="/src/img/advantages/adv-eco-mob-1x.webp"
          alt="Еко"
          class="advantages-img"
          width="288px"
          height="198px"
        />
        <h4 class="advantages-item-title">Міцність і довговічність</h4>
        <p class="advantages-item-text">
          Наші сумки мають посилені шви для тривалого використання.
        </p>
      </li>
      <li class="advantages-item">
        <img
          src="/src/img/advantages/adv-rel-mob-1x.webp"
          alt="Еко"
          class="advantages-img"
          width="288px"
          height="198px"
        />
        <h4 class="advantages-item-title">Стильний та сучасний дизайн</h4>
        <p class="advantages-item-text">
          Мінімалістичні моделі в обмежених серіях для кожного стилю.
        </p>
      </li>
    </ul>
    <!-- </div> -->
  </div>
</section>
