<section class="advantages" id="advantages">
  <div class="container">
    <h3 class="advantages-subtitle">Переваги</h3>
    <h2 class="advantages-title">Чому обрати нас?</h2>
    <p class="advantages-description">
      Наші сумки виготовлені з екологічно чистих матеріалів, що забезпечують
      стійкість і довговічність. Обираючи EcoTote, ви підтримуєте екологічну
      відповідальність.
    </p>
    <ul class="advantages-list">
      <li class="advantages-item">
        <picture>
          <source srcset="
              /img/advantages/adv-eco-tab-desk-1x.webp 1x,
              /img/advantages/adv-eco-tab-desk-2x.webp 2x
            " media="(min-width: 768px)" type="image/webp" />
          <img loading="lazy" srcset="
              /img/advantages/adv-eco-mob-1x.webp 1x,
              /img/advantages/adv-eco-mob-2x.webp 2x
            " src="/img/advantages/adv-eco-mob-1x.webp" alt="Ручне пошиття сумок" class="advantages-img" width="288"
            height="198" />
        </picture>

        <h4 class="advantages-item-title">Стійкість та екологічність</h4>
        <p class="advantages-item-text">
          Виготовлені з органічної бавовни та переробленого пластику.
        </p>
      </li>
      <li class="advantages-item">
        <picture>
          <source srcset="
              /img/advantages/adv-rel-tab-desk-1x.webp 1x,
              /img/advantages/adv-rel-tab-desk-2x.webp 2x
            " media="(min-width: 768px)" type="image/webp" />
          <img loading="lazy" srcset="
              /img/advantages/adv-rel-mob-1x.webp 1x,
              /img/advantages/adv-rel-mob-2x.webp 2x
            " src="/img/advantages/adv-rel-mob-1x.webp" alt="Стильні сумки" class="advantages-img" width="288"
            height="198" />
        </picture>
        <h4 class="advantages-item-title">Міцність і довговічність</h4>
        <p class="advantages-item-text">
          Наші сумки мають посилені шви для тривалого використання.
        </p>
      </li>
      <li class="advantages-item advantages-item-big">
        <picture>
          <source srcset="
              /img/advantages/adv-dsgn-tab-desk-1x.webp 1x,
              /img/advantages/adv-dsgn-tab-desk-2x.webp 2x
            " media="(min-width: 768px)" type="image/webp" />
          <img loading="lazy" srcset="
              /img/advantages/adv-dsgn-mob-1x.webp 1x,
              /img/advantages/adv-dsgn-mob-2x.webp 2x
            " src="/img/advantages/adv-dsgn-mob-1x.webp" alt="Еко матеріали" class="advantages-img advantages-img-big"
            width="288" height="198" />
        </picture>

        <h4 class="advantages-item-title">Стильний та сучасний дизайн</h4>
        <p class="advantages-item-text">
          Мінімалістичні моделі в обмежених серіях для кожного стилю.
        </p>
      </li>
    </ul>
  </div>
</section>