<section class="assortment">ASSORTMENT
    <div class="container">
        <h2 class="title-assortment">Наші сумки</h2>
        <ul class="assortment-list">
            <li class="assortment-item">
                <img srcset="/img/assortment/asrt-class-1x.webp 1x, /img/assortment/asrt-class-2x.webp 2x"
                    src="/img/assortment/asrt-class-1x.webp" alt="Кремова сумка-тоут з органічної бавовни" width="288"
                    height="345.6">
                <div>
                    <h3 class="title-assortment-item">EcoBag Classic</h3>
                    <p class="text-assortment-item">Елегантна та містка сумка для щоденного використання.</p>
                    <span class="price-assortment-item">
                        <p>$25 грн</p>
                    </span>
                    <button class="btn-assortment-item">Купити</button>
                </div>
            </li>


        </ul>


    </div>
</section>