<section class="assortment">ASSORTMENT
    <div class="container">
        <h2 class="title-assortment">Наші сумки</h2>
        <ul class="assortment-list">
            <li class="assortment-item">
                <img srcset="/img/assortment/asrt-class-1x.webp 1x, /img/assortment/asrt-class-2x.webp 2x"
                    src="/img/assortment/asrt-class-1x.webp" alt="Кремова сумка-тоут з органічної бавовни" width="288"
                    height="345.6">
                <div class="info-assortment-item">
                    <h3 class="title-assortment-item">EcoBag Classic</h3>
                    <p class="text-assortment-item">Елегантна та містка сумка для щоденного використання.</p>
                    <span class="price-assortment-item">
                        <p>$25</p>
                    </span>
                </div>
                <button class="btn-assortment-item">Купити</button>
            </li>
            <li class="assortment-item">
                <img srcset="/img/assortment/asrt-shop-1x.webp 1x, /img/assortment/asrt-shop-2x.webp 2x"
                    src="/img/assortment/asrt-shop-1x.webp"
                    alt="Бежева тканинна сумка для покупок на кухні, поруч із продуктами" width="288" height="345.6">
                <div class="info-assortment-item">
                    <h3 class="title-assortment-item">EcoTote Shopper</h3>
                    <p class="text-assortment-item">Ідеальна для покупок, з<br>посиленими ручками.</p>
                    <span class="price-assortment-item">
                        <p>$30</p>
                    </span>
                </div>
                <button class="btn-assortment-item">Купити</button>
            </li>
            <li class="assortment-item">
                <img srcset="/img/assortment/asrt-urb-1x.webp 1x, /img/assortment/asrt-urb-2x.webp 2x"
                    src="/img/assortment/asrt-urb-1x.webp"
                    alt="Зелений рюкзак на дерев'яній лавці, поруч із ноутбуком та термопляшкою." width="288"
                    height="345.6">
                <div class="info-assortment-item">
                    <h3 class="title-assortment-item">EcoBackpack Urban</h3>
                    <p class="text-assortment-item">Зручний рюкзак для міста з відділенням<br />для ноутбука.</p>
                    <span class="price-assortment-item">
                        <p>$45</p>
                    </span>
                </div>
                <button class="btn-assortment-item">Купити</button>
            </li>
            <li class="assortment-item">
                <img srcset="/img/assortment/asrt-cross-1x.webp 1x, /img/assortment/asrt-cross-2x.webp 2x"
                    src="/img/assortment/asrt-cross-1x.webp"
                    alt="Компактна коричнева сумка через плече на бежевому тлі, поруч із сонцезахисними окулярами та ключами."
                    width="288" height="345.6">
                <div class="info-assortment-item">
                    <h3 class="title-assortment-item">EcoCrossbody Mini</h3>
                    <p class="text-assortment-item">Компактна сумка через плече для найнеобхіднішого.
                    </p>
                    <span class="price-assortment-item">
                        <p>$20</p>
                    </span>
                </div>
                <button class="btn-assortment-item">Купити</button>
            </li>
            <li class="assortment-item">
                <img srcset="/img/assortment/asrt-lunch-1x.webp 1x, /img/assortment/asrt-lunch-2x.webp 2x"
                    src="/img/assortment/asrt-lunch-1x.webp"
                    alt="Світла тканинна сумка на столі, поруч із контейнером з сендвічем та жовтим яблуком."
                    width="288" height="345.6">
                <div class="info-assortment-item in-one-line">
                    <h3 class="title-assortment-item">EcoLunch Bag</h3>
                    <p class="text-assortment-item">Стильна та практична сумка для обідів.
                    </p>
                    <span class="price-assortment-item">
                        <p>$15</p>
                    </span>
                </div>
                <button class="btn-assortment-item">Купити</button>
            </li>
            <li class="assortment-item">
                <img srcset="/img/assortment/asrt-beach-1x.webp 1x, /img/assortment/asrt-beach-2x.webp 2x"
                    src="/img/assortment/asrt-beach-1x.webp"
                    alt="Велика бежево-блакитна пляжна сумка з мотузковими ручками, що стоїть на тлі моря." width="288"
                    height="345.6">
                <div class="info-assortment-item">
                    <h3 class="title-assortment-item">EcoBeach Tote</h3>
                    <p class="text-assortment-item">Велика сумка для пляжних речей з водонепроникною підкладкою.
                    </p>
                    <span class="price-assortment-item">
                        <p>$35</p>
                    </span>
                </div>
                <button class="btn-assortment-item">Купити</button>
            </li>
            <li class="assortment-item">
                <img srcset="/img/assortment/asrt-travel-1x.webp 1x, /img/assortment/asrt-travel-2x.webp 2x"
                    src="/img/assortment/asrt-travel-1x.webp"
                    alt="Темно-зелена дорожня сумка з кишенями, розташована на підлозі поруч із чорною валізою"
                    width="288" height="345.6">
                <div class="info-assortment-item">
                    <h3 class="title-assortment-item">EcoTravel Duffle</h3>
                    <p class="text-assortment-item">Містка дорожня сумка з додатковими кишенями.
                    </p>
                    <span class="price-assortment-item">
                        <p>$60</p>
                    </span>
                </div>
                <button class="btn-assortment-item">Купити</button>
            </li>
            <li class="assortment-item">
                <img srcset="/img/assortment/asrt-kids-1x.webp 1x, /img/assortment/asrt-kids-2x.webp 2x"
                    src="/img/assortment/asrt-kids-1x.webp"
                    alt="Дитячий рюкзак із візерунками сонця, веселки та сонечок, що стоїть на дерев'яній лавці поруч із білими кросівками та помаранчевим блокнотом"
                    width="288" height="345.6">
                <div class="info-assortment-item in-one-line">
                    <h3 class="title-assortment-item">EcoKids Bag</h3>
                    <p class="text-assortment-item">Яскрава та зручна сумка для дітей.
                    </p>
                    <span class="price-assortment-item">
                        <p>$22</p>
                    </span>
                </div>
                <button class="btn-assortment-item">Купити</button>
            </li>

        </ul>


    </div>
</section>