<section class="feedbacks">
    <div class="container feedbacks-main-container">
        <h2 class = "feedbacks-main-header">Що говорять наші клієнти</h2>
        <ul class = "feedbacks-main-list">
            <li class = "feedbacks-main-list-item">
                <ul class = "feedbacks-icon-list">
                    <li class = "feedbacks-icon-list-item">
                        <svg width="24" height="24" viewBox="0 0 32 32" fill="#3AC04C">
                            <use href="/img/icons/icons.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li class = "feedbacks-icon-list-item">
                        <svg width="24" height="24" viewBox="0 0 32 32" fill="#3AC04C">
                            <use href="/img/icons/icons.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li class = "feedbacks-icon-list-item">
                        <svg width="24" height="24" viewBox="0 0 32 32" fill="#3AC04C">
                            <use href="/img/icons/icons.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li class = "feedbacks-icon-list-item">
                        <svg width="24" height="24" viewBox="0 0 32 32" fill="#3AC04C">
                            <use href="/img/icons/icons.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li class = "feedbacks-icon-list-item">
                        <svg width="24" height="24" viewBox="0 0 32 32" fill="#3AC04C">
                            <use href="/img/icons/icons.svg#icon-star"></use>
                        </svg>
                    </li>
                </ul>

                <h3 class = "feedbacks-main-list-header">Сумка дуже зручна та стильна, використовую щодня!</h3>
                <p class = "feedbacks-main-list-text">Анна</p>

            </li>
            <li class = "feedbacks-main-list-item">
                <ul class = "feedbacks-icon-list">
                    <li class = "feedbacks-icon-list-item">
                        <svg width="24" height="24" viewBox="0 0 32 32" fill="#3AC04C">
                            <use href="/img/icons/icons.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li class = "feedbacks-icon-list-item">
                        <svg width="24" height="24" viewBox="0 0 32 32" fill="#3AC04C">
                            <use href="/img/icons/icons.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li class = "feedbacks-icon-list-item">
                        <svg width="24" height="24" viewBox="0 0 32 32" fill="#3AC04C">
                            <use href="/img/icons/icons.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li class = "feedbacks-icon-list-item">
                        <svg width="24" height="24" viewBox="0 0 32 32" fill="#3AC04C">
                            <use href="/img/icons/icons.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li class = "feedbacks-icon-list-item">
                        <svg width="24" height="24" viewBox="0 0 32 32" fill="#3AC04C">
                            <use href="/img/icons/icons.svg#icon-star"></use>
                        </svg>
                    </li>
                </ul>

                <h3 class = "feedbacks-main-list-header">Відмінна якість матеріалів, приємно здивована.</h3>
                <p class = "feedbacks-main-list-text">Ігор</p>

            </li>
            <li class = "feedbacks-main-list-item">
                <ul class = "feedbacks-icon-list">
                    <li class = "feedbacks-icon-list-item">
                        <svg width="24" height="24" viewBox="0 0 32 32" fill="#3AC04C">
                            <use href="/img/icons/icons.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li class = "feedbacks-icon-list-item">
                        <svg width="24" height="24" viewBox="0 0 32 32" fill="#3AC04C">
                            <use href="/img/icons/icons.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li class = "feedbacks-icon-list-item">
                        <svg width="24" height="24" viewBox="0 0 32 32" fill="#3AC04C">
                            <use href="/img/icons/icons.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li class = "feedbacks-icon-list-item">
                        <svg width="24" height="24" viewBox="0 0 32 32" fill="#3AC04C">
                            <use href="/img/icons/icons.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li class = "feedbacks-icon-list-item">
                        <svg width="24" height="24" viewBox="0 0 32 32" fill="#3AC04C">
                            <use href="/img/icons/icons.svg#icon-star"></use>
                        </svg>
                    </li>
                </ul>

                <h3 class = "feedbacks-main-list-header">Сумка повністю відповідає опису, рекомендую!</h3>
                <p class = "feedbacks-main-list-text">Олена</p>

            </li>
            <li class = "feedbacks-main-list-item">
                <ul class = "feedbacks-icon-list">
                    <li class = "feedbacks-icon-list-item">
                        <svg width="24" height="24" viewBox="0 0 32 32" fill="#3AC04C">
                            <use href="/img/icons/icons.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li class = "feedbacks-icon-list-item">
                        <svg width="24" height="24" viewBox="0 0 32 32" fill="#3AC04C">
                            <use href="/img/icons/icons.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li class = "feedbacks-icon-list-item">
                        <svg width="24" height="24" viewBox="0 0 32 32" fill="#3AC04C">
                            <use href="/img/icons/icons.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li class = "feedbacks-icon-list-item">
                        <svg width="24" height="24" viewBox="0 0 32 32" fill="#3AC04C">
                            <use href="/img/icons/icons.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li class = "feedbacks-icon-list-item">
                        <svg width="24" height="24" viewBox="0 0 32 32" fill="#3AC04C">
                            <use href="/img/icons/icons.svg#icon-star-hollow"></use>
                        </svg>
                    </li>
                </ul>

                <h3 class = "feedbacks-main-list-header">Швидка доставка та гарне обслуговування.</h3>
                <p class = "feedbacks-main-list-text">Сергій</p>

            </li>
        </ul>
    </div>
</section>
