<section class="gallery">
    <div class="container gallery-section-container">
        <h2 class = "gallery-main-header">Галерея зображень</h2>
        <p class= "gallery-main-text"><span lang = 'en'>EcoTotes</span> у повсякденному житті</p>
        <ul class = "gallery-img-list">
            <li class = "gallery-img-list-item">
                <picture>
                    <source media="(min-width: 768px)" srcset="/img/gallery/gal-apt-2x.webp 2x, /img/gallery/gal-apt-1x.webp 1x">
                    <img src="/img/gallery/gal-apt-1x.webp" alt="EcoTote bag on the chair" width="288" height="288">
                </picture>
            </li>
            <li class = "gallery-img-list-item">
                <picture>
                    <source 
                      media="(min-width: 768px)" 
                      srcset="/img/gallery/gal-city-tab-desk-1x.webp 1x, /img/gallery/gal-city-tab-desk-2x.webp 2x">
                    <img 
                      src="/img/gallery/gal-city-mob-1x.webp"
                      srcset="/img/gallery/gal-city-mob-1x.webp 1x, /img/gallery/gal-city-mob-2x.webp 2x"
                      alt="A guy walking through a city in a black coat and a white bag in his hand"
                      width="288"
                      height="288">
                  </picture>
            </li>
            <li class = "gallery-img-list-item">
                <picture>
                    <source 
                      media="(min-width: 768px)" 
                      srcset="/img/gallery/gal-nat-tab-desk-1x.webp 1x, /img/gallery/gal-nat-tab-desk-2x.webp 2x">
                    <img 
                      src="/img/gallery/gal-nat-mob-1x.webp"
                      srcset="/img/gallery/gal-nat-mob-1x.webp 1x, /img/gallery/gal-nat-mob-2x.webp 2x"
                      alt="A guy walking through a park with an eco-friendly white bag"
                      width="288"
                      height="288">
                  </picture>
            </li>
            <li class = "gallery-img-list-item">
                <picture>
                    <source 
                      media="(min-width: 768px)" 
                      srcset="/img/gallery/gal-shop-1x.webp 1x, /img/gallery/gal-shop-2x.webp 2x">
                    <img 
                      src="/img/gallery/gal-shop-1x.webp"
                      srcset="/img/gallery/gal-shop-1x.webp 1x, /img/gallery/gal-shop-2x.webp 2x"
                      alt="A young woman in a marked with a bag full of vegetables"
                      width="288"
                      height="288">
                  </picture>
            </li>
        </ul>
    </div>
</section>
