<header class="header">
  <div class="container-header container">
    <div class="header-div-logo">
      <a class="header-logo" href="./index.html">
        <svg class="header-logo-icon" width="84" height="36">
          <use href="/img/icons/logo.svg#icon-logo"></use>
        </svg>
      </a>
    </div>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a href="#about" class="header-nav-link">Про нас</a>
        </li>
        <li class="header-nav-item">
          <a href="#advantages" class="header-nav-link">Переваги</a>
        </li>
        <li class="header-nav-item">
          <a href="#assortment" class="header-nav-link">Асортимент</a>
        </li>
        <li class="header-nav-item">
          <a href="#gallery" class="header-nav-link">Галерея</a>
        </li>
        <li class="header-nav-item">
          <a href="#reviews" class="header-nav-link">Відгуки</a>
        </li>
        <li class="header-nav-item">
          <a href="#support" class="header-nav-link">Контакти</a>
        </li>
      </ul>
    </nav>
    <address class="header-address">
      <ul class="header-address-list">
        <li class="header-address-item">
          <a class="header-address-link" href="tel:+380999091122">
            +38 (099) 909 11 22
          </a>
        </li>
        <li class="header-address-item">
          <a class="header-address-link" href="mailto:hello@ecotote.com">
            hello@ecotote.com
          </a>
        </li>
      </ul>
    </address>
    <button type="button" class="button-burger">
      <svg class="icon-burger" width="21" height="16">
        <use href="/img/icons/icons.svg#icon-burger"></use>
      </svg>
    </button>
  </div>

  <!-- MOBILE MENU -->
  <div class="header-menu">
    <a class="header-logo-menu" href="./index.html">
      <svg class="header-logo-icon" width="84" height="36">
        <use href="/img/icons/logo.svg#icon-logo"></use>
      </svg>
    </a>
    <button class="button-cross">
      <svg class="icon-cross" width="15" height="15">
        <use href="/img/icons/icons.svg#icon-cross"></use>
      </svg>
    </button>
    <nav class="header-nav-menu">
      <ul class="header-menu-list">
        <li class="header-menu-item">
          <a href="#" class="header-menu-link">Про нас</a>
        </li>
        <li class="header-menu-item">
          <a href="#" class="header-menu-link">Переваги</a>
        </li>
        <li class="header-menu-item">
          <a href="#" class="header-menu-link">Асортимент</a>
        </li>
        <li class="header-menu-item">
          <a href="#" class="header-menu-link">Галерея</a>
        </li>
        <li class="header-menu-item">
          <a href="#" class="header-menu-link">Відгуки</a>
        </li>
        <li class="header-menu-item">
          <a href="#" class="header-menu-link">Контакти</a>
        </li>
      </ul>
    </nav>
    <address class="header-menu-address">
      <ul class="header-menu-address-list">
        <li class="header-menu-address-item">
          <a class="header-menu-address-link" href="tel:+380999091122">
            +38 (099) 909 11 22
          </a>
        </li>
        <li class="header-menu-address-item">
          <a class="header-menu-address-link" href="mailto:hello@ecotote.com">
            hello@ecotote.com
          </a>
        </li>
      </ul>
    </address>
  </div>
</header>
