.title-assortment {
    font-size: 36px;
    text-align: center;
    margin-bottom: 32px;


}

.assortment-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.assortment-item {
    max-width: 288px;
    width:
}

.title-assortment-item {
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    margin-top: 16px;
    line-height: 1.6;
    font-family: 'Fira Sans', sans-serif;
}

.info-assortment-item {
    margin: 16px 0;
}

.text-assortment-item {
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    margin-bottom: 8px;
}

.price-assortment-item {
    font-weight: 600;
    font-size: 20px;
    text-align: center;

}

.btn-assortment-item {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    width: 288px;
    padding: 7px 117px;
    border: 1px solid rgba(3, 10, 6, 1);
    border-radius: 5px;
    background-color: transparent;
    color: rgba(3, 10, 6, 1);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* ----------Медіазапити---------- */
@media (min-width: 768px) {
    .in-one-line {
        margin: 16px 0 38px 0;


    }


    .assortment-list {

        gap: 48px 24px;
    }
}

@media (min-width: 1440px) {}