body {
  font-family: 'Fira Sans', sans-serif;
  color: #030a06;
  background-color: #ebf8ed;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #030a06;
  margin: 0;
}

button {
  border: none;
}

@media (min-width: 1440px) {
  body {
    font-size: 18px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 48px;
  }
}
